html, body {
    background: #FFFFFF;
    overflow-x: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: monospace;
    font-weight: 600;
}

.page-container {
    margin: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 220px;
}

.profile-pic:hover {
    animation: profile-pic-animation 1s 1;
}

@keyframes profile-pic-animation {
    0%   { transform: rotate(0deg);   }
    25%  { transform: rotate(-20deg); }
    100% { transform: rotate(360deg); }
}

.full-height {
    height: 100%;
}

.sidebar {
    float: left;
    width: 220px;
    margin-right: 20px;
}

.page-content {
    overflow: hidden;
    text-align: center;
}

.social-image {
    width: 40px;
    height: 40px;
}

.social-image:hover {
    margin-top: 1px;
    height: 38px;
    opacity: 0.75;
}

.spacer {
    height: 50px;
}