html, body {
    background: #FFFFFF;
    overflow-x: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: monospace;
    font-weight: 600;
}

.page-container {
    margin: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 220px;
}

.full-height {
    height: 100%;
}

.sidebar {
    float: left;
    width: 220px;
    margin-right: 20px;
}

.page-content {
    overflow: hidden;
    text-align: center;
}